* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  scrollbar-width: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.nav_active {
  background-color: black;
}
.search_active {
  width: 300px;
  visibility: visible;
}
.space {
  padding-right: 10px;
}
.mySwiper .swiper-button-next {
  height: 80%;
  padding: 20px;
  top: 50px;
  color: red;
}
.swiper-button-next:hover {
  transform: scale(1.3);
}

.mySwiper .swiper-button-prev {
  display: none;
}
